{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
      <link rel="stylesheet" href="{% static 'css/compiled.css' %}">
  {% endblock %}
</head>

<body>

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
      <li>
        <details>
          <summary>
            {{ user.email }}
          </summary>
          <ul class="p-2 bg-base-100">
            <li><a href="{% url 'account_logout' %}">Sign out</a></li></li>
            <li><a href="{% url 'account_change_password' %}">Change password</a></li>
          </ul>
        </details>
      </li>
        {% else %}
            <li>
            <a href="{% url 'account_login' %}">Log in</a>
            </li>
            <li>
             <a href="{% url 'account_signup' %}">Sign up</a>
            </li>
        {% endif %}
    </ul>
  </div>
</div>
 

  <div class="container">
    {% block content %}
    <p>Default content...</p>
    {% endblock content %}
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Footer...</span>
    </div>
  </footer>

  {% block javascript %}
      <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}

</body>

</html>